:root {
  --clr-primary: #ffffff;
  --clr-secondary: hsl(229, 31%, 21%);
  --clr-mid: hsl(229, 8%, 60%);
  --clr-accent: hsl(231, 69%, 60%);
  --clr-highlight: hsl(0, 94%, 66%);

  --font-size: 18px;
  --font-family: "Rubik", sans-serif;

  --site-max-width: 1180px;

  --btn-clr-main: #f7f7f7;
  --btn-clr-primary: #5365e1;
}
