.btn {
  color: var(--clr-mid);
  font-size: 0.825em;
  text-decoration: none;
  line-height: 1;
  display: inline-block;
  border: 2px solid var(--btn-clr-main);
  background-color: var(--btn-clr-main);
  padding: 1em;
  border-radius: 6px;
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.075);
  white-space: nowrap;
  transition: background-color 250ms ease, color 250ms ease,
    border-color 250ms ease, transform 250ms ease, box-shadow 250ms ease;

  &:hover {
    transform: translateY(-1px);
    background-color: var(--clr-primary);
    border-color: var(--clr-mid);
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.075);
  }
}

.btn-primary {
  color: var(--clr-primary);
  background-color: var(--btn-clr-primary);
  border-color: var(--btn-clr-primary);

  &:hover {
    background-color: var(--clr-primary);
    color: var(--btn-clr-primary);
    border-color: var(--btn-clr-primary);
  }
}

.btn-highlight {
  color: var(--clr-primary);
  font-weight: 500;
  background-color: var(--clr-highlight);
  border-color: var(--clr-highlight);
  cursor: pointer;

  &:hover {
    color: var(--clr-highlight);
    background-color: var(--clr-primary);
    border-color: var(--clr-highlight);
  }
}
